.background {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0);
}

.dynamic-text {
    -unity-text-generator: advanced;
    -unity-text-auto-size: best-fit 10px 100px;
}

.back-in-menu-button {
    top: 10%;
    left: 2%;
    height: 80%;
    aspect-ratio: 1;
    background-image: url("project://database/Assets/Quiz%20Template/Images/buttons%20small%20set.png?fileID=1632421661&guid=43d792a1453f65447b37a18003389a66&type=3#buttons small set_0");
    background-color: rgba(0, 0, 0, 0);
    transition-property: scale;
    transition-duration: 0.1s;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.back-in-menu-button:hover {
    -unity-background-image-tint-color: rgb(231, 231, 231);
}

.back-in-menu-button:active {
    transition-property: scale;
    transition-duration: 0.1s;
    scale: 0.96 0.96 0.96;
}

.unity-scroller {
    width: 4%;
    margin-left: 1%;
}

.unity-base-slider {
    width: 100%;
}

.unity-scroller__low-button {
    display: none;
    visibility: hidden;
}

.unity-scroller__high-button {
    display: none;
    visibility: hidden;
}

.unity-scroller .unity-base-slider__tracker {
    background-color: rgba(147, 147, 147, 0);
    background-image: url("project://database/Assets/Quiz%20Template/Images/button.png?fileID=21300000&guid=9d241c14e7dc5774a99c5f73ad07bf3b&type=3#button");
    -unity-background-image-tint-color: rgb(147, 147, 147);
    -unity-slice-scale: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.unity-base-slider__dragger {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Quiz%20Template/Images/button.png?fileID=21300000&guid=9d241c14e7dc5774a99c5f73ad07bf3b&type=3#button");
    -unity-slice-scale: 1px;
    width: 70%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}




