.currency-panel {
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(46, 58, 69, 0.1);
    background-image: url("project://database/Assets/Quiz%20Template/Images/button.png?fileID=21300000&guid=9d241c14e7dc5774a99c5f73ad07bf3b&type=3#button");
    -unity-slice-scale: 2.2px;
    justify-content: flex-end;
    width: auto;
    height: 80%;
    top: 10%;
    right: 2%;
}

.currency-icon {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    aspect-ratio: 1;
}

.currency-amount {
    font-size: 18px;
    -unity-font-style: bold;
    -unity-font-weight: 700;
    color: rgb(46, 58, 69);
    -unity-text-align: middle-center;
    padding-right: 10%;
}
