.reward-background {
    flex-grow: 0;
    height: 45%;
    margin-bottom: 5%;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
    width: auto;
}

.double-reward {
    flex-grow: 0;
    align-self: auto;
    height: 80%;
    align-items: center;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0);
    background-image: url("project://database/Assets/Quiz%20Template/Images/button.png?fileID=21300000&guid=9d241c14e7dc5774a99c5f73ad07bf3b&type=3#button");
    -unity-slice-scale: 1.2px;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.14);
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-property: all;
    scale: 1 1;
}

.double-reward--big {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    scale: 1.1 1.1 1.1;
}
